aptguiOrCliPresent()
{
	#### Work in progress, currently set in server or desktop function

	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/guiOrCliPresent.txt ]; then
		echo "0" > $PWD/flags/guiOrCliPresent.txt || error_exit "$LINENO: File creation failed."
	fi
	beenrun=0

	# Read beenrun file. Run primary function if not run before, skip to else if it has been run already.
	read beenrun < $PWD/flags/guiOrCliPresent.txt || error_exit "$LINENO: Read failed."
	if [ "$beenrun" != 1 ]; then

		until [ "$guiorcli" == "cli" ] || [ "$guiorcli" == "gui" ]; do
			dialog --cr-wrap --clear --no-ok --no-cancel --backtitle "Linux Configuration Utility" --title "CLI or GUI" --menu "While generally not recommended for a server, a minimal GUI (Graphical User Interface)\ncan be very helpful in some situations, such as using HandBrake to recode a folder full\nof movies, or using GParted to adjust partition sizes, for those who have difficulty with\nthe commandline.\n\nIf you choose to install a GUI for occasional use, keep in mind that the server\nwill boot to the CLI (CommandLine Interface) by default, not the GUI.\n\nTo load the GUI, use the command: sudo systemctl start lightdm.\n\nWould you like to install a very minimal GUI on this server, or stay strictly with the CLI?" 0 0 0 \
				1 "Install minimal GUI" \
				2 "CLI only. Do not install GUI." 2>"${INPUT}"

			menuselection=$(<"${INPUT}")

			case $menuselection in
				1 ) clear
					# install minimal gui and tools
					guiorcli="gui"
					sudo apt-add-repository -y ppa:teejee2008/ppa || error_exit "$LINENO: PPA installation failed."
					sudo apt update && sudo apt install -y xorg || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lightdm-gtk-greeter || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lightdm || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lxde-icon-theme || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lxde-core || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lxde-common || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends policykit-1 lxpolkit || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lxsession-logout || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends gvfs-backends || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lubuntu-core || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y gparted gsmartcontrol indicator-diskman indicator-cpufreq indicator-multiload smart-notifier thunar mtools libvisual-0.4-plugins gstreamer1.0-tools gksu usb-creator-common usb-modeswitch-data libusbmuxd-tools usbmuxd obconf hardinfo mesa-utils lxappearance lxappearance-obconf lxpanel-indicator-applet-plugin indicator-application lxterminal obmenu lxrandr lxlauncher gvfs-fuse acpi-support lxshortcut indicator-application-gtk2 lightdm-gtk-greeter-settings memtester libengine-pkcs11-openssl usb-creator-gtk chromium-browser lxtask firefox gvfs-bin adobe-flashplugin bleachbit || error_exit "$LINENO: Installation failed."

					# disable gui auto start
					sudo systemctl disable lightdm || error_exit "$LINENO: Service deactivation failed.";;

				2 ) clear
					# set command line as default interface for server without gui
					guiorcli="cli"
					sudo systemctl set-default multi-user.target || error_exit "$LINENO: Multi-user default setting failed.";;

				* ) errorTracking;;
			esac

		done

		echo $guiorcli > $PWD/flags/guiorcli.txt || error_exit "$LINENO: File edit failed."

		beenrun=1
		echo $beenrun > $PWD/flags/guiOrCliPresent.txt || error_exit "$LINENO: File edit failed."
	else
		return
	fi

	return
}


# Function to determine if server or desktop system
serverOrDesktop()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/serverOrDesktop.txt ]; then
		echo "0" > $PWD/flags/serverOrDesktop.txt || error_exit "$LINENO: File creation failed."
	fi
	beenrun=0

	# Read beenrun file. Run primary function if not run before, skip to else if it has been run already.
	read beenrun < $PWD/flags/serverOrDesktop.txt || error_exit "$LINENO: Read failed."
	if [ "$beenrun" != 1 ]; then

		until [ "$servordesk" == "desktop" ] || [ "$servordesk" == "server" ] || [ "$servordesk" == "both" ]; do
			dialog --cr-wrap --clear --no-ok --no-cancel --backtitle "Linux Configuration Utility" --title "Server, Desktop, or Both" --menu "Will this system be used primarily as a server, as a daily use desktop PC, or both?\n\nNOTE: You can run server functions on a server or desktop, and use a minimal gui on a server." 0 0 0 \
				1 "Server" \
				2 "Desktop - Install lean full GUI with no extras." \
				3 "Both - Install core gui and basic tools" 2>"${INPUT}"

			menuselection=$(<"${INPUT}")

			case $menuselection in
				1 ) clear
					# Determine if GUI needs to be installed
					guiOrCliPresent;;

				2 ) clear
					# Install minimal full GUI with no extras, other than tools
					servordesk="desktop"
					guiorcli="gui"
					echo "1" > $PWD/flags/guiOrCliPresent.txt || error_exit "$LINENO: File edit failed."
					echo $guiorcli > $PWD/flags/guiorcli.txt || error_exit "$LINENO: File edit failed."
					sudo apt-add-repository -y ppa:teejee2008/ppa || error_exit "$LINENO: PPA installation failed."
					sudo apt update && sudo apt install -y --no-install-recommends lubuntu-desktop || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y gparted gsmartcontrol indicator-diskman indicator-cpufreq indicator-multiload smart-notifier thunar mtools libvisual-0.4-plugins gstreamer1.0-tools gksu usb-creator-common usb-modeswitch-data libusbmuxd-tools usbmuxd obconf hardinfo mesa-utils lxappearance lxappearance-obconf lxpanel-indicator-applet-plugin indicator-application policykit-1 lxpolkit lxterminal obmenu lxde-icon-theme lxrandr lxlauncher gvfs-backends gvfs-fuse acpi-support lxshortcut indicator-application-gtk2 lightdm-gtk-greeter-settings memtester libengine-pkcs11-openssl usb-creator-gtk chromium-browser firefox gvfs-bin adobe-flashplugin gdebi bleachbit synaptic psensor || error_exit "$LINENO: Installation failed.";;

				3 ) clear
					# Install core GUI with basic tools
					servordesk="both"
					guiorcli="gui"
					echo "1" > $PWD/flags/guiOrCliPresent.txt || error_exit "$LINENO: File edit failed."
					echo $guiorcli > $PWD/flags/guiorcli.txt || error_exit "$LINENO: File edit failed."
					sudo apt-add-repository -y ppa:teejee2008/ppa || error_exit "$LINENO: PPA installation failed."
					sudo apt update && sudo apt install -y lubuntu-core || error_exit "$LINENO: Installation failed."
					sudo apt update && sudo apt install -y gparted gsmartcontrol indicator-diskman indicator-cpufreq indicator-multiload smart-notifier thunar mtools libvisual-0.4-plugins gstreamer1.0-tools gksu usb-creator-common usb-modeswitch-data libusbmuxd-tools usbmuxd obconf hardinfo mesa-utils lxappearance lxappearance-obconf lxpanel-indicator-applet-plugin indicator-application policykit-1 lxpolkit lxterminal obmenu lxde-icon-theme lxrandr lxlauncher gvfs-backends gvfs-fuse acpi-support lxshortcut indicator-application-gtk2 lightdm-gtk-greeter-settings memtester libengine-pkcs11-openssl usb-creator-gtk chromium-browser firefox gvfs-bin adobe-flashplugin gdebi bleachbit synaptic psensor || error_exit "$LINENO: Installation failed."

					# Disable GUI at boot
					sudo systemctl disable lightdm || error_exit "$LINENO: Service deactivation failed.";;

				* ) errorTracking;;
			esac
		done

		echo $servordesk > $PWD/flags/servordesk.txt || error_exit "$LINENO: File edit failed."

		beenrun=1
		echo $beenrun > $PWD/flags/serverOrDesktop.txt || error_exit "$LINENO: File edit failed."
	else
		return
	fi

	return
}


# Function to install tightvnc server
installVNCServer()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/installVNCServer.txt ]; then
		echo "0" > $PWD/flags/installVNCServer.txt || error_exit "$LINENO: File creation failed."
	fi
	beenrun=0

	# Read beenrun file. Run primary function if not run before, skip to else if it has been run already.
	read beenrun < $PWD/flags/installVNCServer.txt || error_exit "$LINENO: Read failed."
	if [ "$beenrun" != 1 ]; then

		# Install tightvncserver
		sudo apt update && sudo apt -y install tightvncserver

		tightvncserver :1
		tightvncserver -kill :1
		mv ~/.vnc/xstartup ~/.vnc/xstartup.bak
		nano ~/.vnc/xstartup
			add

			#!/bin/sh

			xrdb $HOME/.Xresources
			xsetroot -solid grey
			/etc/X11/Xsession
			/usr/bin/lxsession -s LXDE &

		# Create service
		sudo nano /etc/systemd/system/vncserver@.service
			[Unit]
			Description=Start TightVNC server at startup
			After=syslog.target network.target

			[Service]
			Type=forking
			User=$currentuser
			PAMName=login
			PIDFile=/home/$currentuser/.vnc/%H:%i.pid
			ExecStartPre=-/usr/bin/tightvncserver -kill :%i > /dev/null 2>&1
			ExecStart=/usr/bin/tightvncserver -depth 24 -geometry 1280x800 :%i
			ExecStop=/usr/bin/tightvncserver -kill :%i

			[Install]
			WantedBy=multi-user.target

		# Reload services
		sudo systemctl daemon-reload

		# Enable service confg
		sudo systemctl enable vncserver@1.service

		# Kill current session
		tightvncserver -kill :1

		# Start new service
		sudo systemctl start vncserver@1

		beenrun=1
		echo $beenrun > $PWD/flags/installVNCServer.txt || error_exit "$LINENO: File edit failed."
	else
		return
	fi

	return
}
