# Function to install Samba
samba()
{
	if [ "$hostedserver" == 0 ]; then

		# Check to see if beenrun file exists. If not, create it.
		if [ ! -e $PWD/flags/samba.txt ]; then
			echo "1" > $PWD/flags/samba.txt || error_exit "$LINENO: File creation failed."
		fi

		setSambaFirewall;
		getFQDN;
		getEmailData;
		downInstSamba;
		sambaAddUsers;
		hardenOperatingSystem;
		setEmail;
		installSecurity;
		systemLogs;
		finalCleanUp;
	else
		local anykey=0
		echo "#############################################################"
		echo " "
		echo "This is a virtual server hosted by a third party. As such,"
		echo "Samba cannot be installed for security reasons."
		echo " "
		read -p "Please press enter to return to the previous menu. " anykey
	fi
}


# Function to install Plex Media Server
plex()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/plex.txt ]; then
		echo "1" > $PWD/flags/plex.txt || error_exit "$LINENO: File creation failed."
	fi

	setPlexFirewall;
	getFQDN;
	getEmailData;
	downInstPlex;
	mediaFolderCreation;
	hardenOperatingSystem;
	setEmail;
	installSecurity;
	systemLogs;
	finalCleanUp;
}


# Function to install ownCloud
ownCloud()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/ownCloud.txt ]; then
		echo "1" > $PWD/flags/ownCloud.txt || error_exit "$LINENO: File creation failed."
	fi

	setApacheFirewall;
	setOwnCloudFirewall;
	setSambaFirewall;
	getFQDN;
	getMariaDBOwnCloudData;
	getEmailData;
	getMaxSize;
	installApache;
	installOwnCloud;
	getCertificateData;
	setFQDN;
	generateSelfSignedCert;
	createOCExpectScripts;
	generateOwnCloudScripts;
	hardenOperatingSystem;
	secureApache;
	secureMariaDB;
	setEmail;
	ownCloudDBConfig;
	ownCloudWebConfig;
	consolidateOwncloud;
	secureOwnCloud;
	installSecurity;
	systemLogs;
	apacheLogs;
	ownCloudLogs;
	ownCloudCleanup;
	finalCleanUp;
}
