# Function to install Webmin
webmin()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/webmin.txt ]; then
		echo "1" > $PWD/flags/webmin.txt || error_exit "$LINENO: File creation failed."
	fi

	setWebminFirewall;
	webminInstall;

	return
}


# Function to install Samba
samba()
{
	if [ "$hostedserver" == 0 ]; then

		# Check to see if beenrun file exists. If not, create it.
		if [ ! -e $PWD/flags/samba.txt ]; then
			echo "1" > $PWD/flags/samba.txt || error_exit "$LINENO: File creation failed."
		fi

		setSambaFirewall;
		downInstSamba;
		sambaAddUsers;
		sambaLogs;
	else
		dialog --cr-wrap --no-cancel --backtitle "Linux Configuration Utility" --title "Samba Installation" --msgbox "This is a virtual server hosted by a third party. As such,\nSamba cannot be installed for security reasons." 6 65
	fi

	return
}


# Function to install Plex Media Server
plex()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/plex.txt ]; then
		echo "1" > $PWD/flags/plex.txt || error_exit "$LINENO: File creation failed."
	fi

	setPlexFirewall;
	downInstPlex;
	mediaFolderCreation;

	return
}


# Function to install ownCloud
ownCloud()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/ownCloud.txt ]; then
		echo "1" > $PWD/flags/ownCloud.txt || error_exit "$LINENO: File creation failed."
	fi

	getHTTPPorts;
	setApacheFirewall;
	setOwnCloudFirewall;
	if [ "$hostedserver" == 0 ]; then
		setSambaFirewall;
	fi
	getSiteType;
	if [ "$singlesite" == 0 ]; then
		getPHPMyAdminHostname;
		getOwnCloudHostname;
	fi
	getMariaDBData;
	getOwnCloudData;
	getMaxSize;
	installApache;
	setFQDN;
	installPHPMyAdmin;
	installOwnCloud;
	getCertificateData;
	if [ "$singlesite" == 0 ]; then
		setSiteHostnames $phpmahostname $domainname;
		setSiteHostnames $ochostname $domainname;
	fi
	generateSelfSignedCert;
	createMariaDBExpectScript;
	createPHPMyAdminExpectScript;
	createOCExpectScripts;
	generateOwnCloudScripts;
	secureApache;
	secureMariaDB;
	setEmail;
	phpMyAdminDBConfig;
	ownCloudDBConfig;
	phpMyAdminWebConfig;
	ownCloudWebConfig;
	consolidateOwncloud;
	if [ "$letsencrypt" == 1 ]; then
		renewLetsEncrypt;
	fi
	if [ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]; then
		installDKIM;
	fi
	if [ "$singlesite" == 0 ] && ([ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]); then
		addSubDomainDKIM $phpmahostname $domainname;
		addSubDomainDKIM $ochostname $domainname;
	fi
	secureOwnCloud;
	PHPMAFail2Ban;
	OCFail2Ban;
	apacheLogs;
	ownCloudLogs;
	MariaDBCleanup;
	ownCloudCleanup;
	finalCleanUp;

	return
}


# Function to install VirtualBox
VirtualBox()
{
	if [ "$physicalsystem" == 1 ]; then

		# Check to see if beenrun file exists. If not, create it.
		if [ ! -e $PWD/flags/VirtualBox.txt ]; then
			echo "1" > $PWD/flags/VirtualBox.txt || error_exit "$LINENO: File creation failed."
		fi

		getHTTPPorts;
		setApacheFirewall;
		setPHPVirtualBoxFirewall;
		getSiteType;
		if [ "$singlesite" == 0 ]; then
			getPHPMyAdminHostname;
			getphpvbHostname;
		fi
		getMaxSize;
		getMariaDBData;
		installApache;
		setFQDN;
		installPHPMyAdmin;
		installVirtualBox;
		getCertificateData;
		if [ "$singlesite" == 0 ]; then
			setSiteHostnames $phpmahostname $domainname;
			setSiteHostnames $phpvbhostname $domainname;
		fi
		generateSelfSignedCert;
		createMariaDBExpectScript;
		createPHPMyAdminExpectScript;
		secureApache;
		secureMariaDB;
		setEmail;
		phpMyAdminDBConfig;
		phpMyAdminWebConfig;
		phpvbWebConfig;
		if [ "$letsencrypt" == 1 ]; then
			renewLetsEncrypt;
		fi
		if [ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]; then
			installDKIM;
		fi
		if [ "$singlesite" == 0 ] && ([ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]); then
			addSubDomainDKIM $phpmahostname $domainname;
			addSubDomainDKIM $phpvbhostname $domainname;
		fi
		PHPMAFail2Ban;
		PHPVBFail2Ban;
		apacheLogs;
		virtualBoxLogs;
		MariaDBCleanup;
		phpvbCleanup;
		finalCleanUp;

	else
		dialog --cr-wrap --no-cancel --backtitle "Linux Configuration Utility" --title "VirtualBox Installation" --msgbox "This is a virtual server. As such, VirtualBox should not be installed." 6 75
	fi

	return
}


# Function to install Netdata
Netdata()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/Netdata.txt ]; then
		echo "1" > $PWD/flags/Netdata.txt || error_exit "$LINENO: File creation failed."
	fi

	getHTTPPorts;
	setApacheFirewall;
	getSiteType;
	if [ "$singlesite" == 0 ]; then
		getPHPMyAdminHostname;
		getNetdataHostname;
	fi
	getMaxSize;
	getMariaDBData;
	installApache;
	setFQDN;
	installPHPMyAdmin;
	installNetdata;
	getCertificateData;
	if [ "$singlesite" == 0 ]; then
		setSiteHostnames $phpmahostname $domainname;
		setSiteHostnames $ndhostname $domainname;
	fi
	generateSelfSignedCert;
	createMariaDBExpectScript;
	createPHPMyAdminExpectScript;
	secureApache;
	secureMariaDB;
	setEmail;
	phpMyAdminDBConfig;
	phpMyAdminWebConfig;
	netdataWebConfig;
	if [ "$letsencrypt" == 1 ]; then
		renewLetsEncrypt;
	fi
	if [ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]; then
		installDKIM;
	fi
	if [ "$singlesite" == 0 ] && ([ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]); then
		addSubDomainDKIM $phpmahostname $domainname;
		addSubDomainDKIM $ndhostname $domainname;
	fi
	PHPMAFail2Ban;
	NDFail2Ban;
	apacheLogs;
	netdataLogs;
	MariaDBCleanup;
	netdataCleanup;
	finalCleanUp;

	return
}


# Function to install WordPress
WordPress()
{
	# Check to see if beenrun file exists. If not, create it.
	if [ ! -e $PWD/flags/WordPress.txt ]; then
		echo "1" > $PWD/flags/WordPress.txt || error_exit "$LINENO: File creation failed."
	fi

	getHTTPPorts;
	setApacheFirewall;
	getSiteType;
	if [ "$singlesite" == 0 ]; then
		getPHPMyAdminHostname;
		getWordPressHostname;
	fi
	getMaxSize;
	getMariaDBData;
	installApache;
	setFQDN;
	installPHPMyAdmin;
	installWordPress;
	getCertificateData;
	if [ "$singlesite" == 0 ]; then
		setSiteHostnames $phpmahostname $domainname;
		setSiteHostnames $wp1hostname $domainname;
	fi
	generateSelfSignedCert;
	createMariaDBExpectScript;
	createPHPMyAdminExpectScript;
	secureApache;
	secureMariaDB;
	setEmail;
	phpMyAdminDBConfig;
	phpMyAdminWebConfig;
	WordPressBaselineCopy;
	WordPressConfig;
	if [ "$letsencrypt" == 1 ]; then
		renewLetsEncrypt;
	fi
	if [ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]; then
		installDKIM;
	fi
	if [ "$singlesite" == 0 ] && ([ "$generatecertificate" == 0 ] || [ "$letsencrypt" == 1 ]); then
		addSubDomainDKIM $phpmahostname $domainname;
		addSubDomainDKIM $wp1hostname $domainname;
	fi
	PHPMAFail2Ban;
	WPFail2Ban;
	apacheLogs;
	WordPressLogs;
	MariaDBCleanup;
	WordPressCleanup;
	finalCleanUp;

	return
}
